// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
    .container.px-5
        a.navbar-brand.fw-bold(href='index.html#page-top') E-Center of Excellency
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.bi-list
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                li.nav-item
                    a.nav-link.me-lg-3(href='') Features
                li.nav-item
                    a.nav-link.me-lg-3(href='about.html') About
            button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                span.d-flex.align-items-center
                    i.bi-chat-text-fill.me-2
                    span.small Send Feedback
