extends includes/layout.pug

block content
    
    // Mashead header
    header.masthead
        .container.px-5
            .row.gx-5.align-items-center
                .col-lg-6
                    // Mashead text and app badges
                    .mb-5.mb-lg-0.text-center.text-lg-start
                        h1.display-1.lh-1.mb-3 E-Center of Excellency.
                        p.lead.fw-normal.text-muted.mb-5 A web application that provides a platform for food security analytics through reports, data visualizations and training materials.

                        .d-flex.flex-column.flex-lg-row.align-items-center
                            a.btn.btn-primary(href='reportbase.html') Report Base 
                            span.separator
                            a.btn.btn-secondary(href='http://iofsdb.streamlit.app', target='_blank') IOFSDB
                            span.separator
                            a.btn.btn-secondary(href='/training.html', target='_blank') Training

                .col-lg-6
                    // Masthead device mockup feature
                    .masthead-device-mockup
                        img(src='assets/img/logo.jpg' width='500')

    // Quote/testimonial aside
    aside.text-center.bg-gradient-primary-to-secondary
        .container.px-5
            .row.gx-5.justify-content-center
                .col-xl-8
                    .h2.fs-1.text-white.mb-4 "An data-driven response to questions about the food security."
                    //- img(src='assets/img/tnw-logo.svg', alt='...', style='height: 3rem;')

    // App features section
    section#features
        .container.px-5
            .row.gx-5.align-items-center
                .col-lg-8.order-lg-1.mb-5.mb-lg-0
                    .container-fluid.px-5
                        .row.gx-5
                            .col-md-6.mb-5
                                // Feature item
                                .text-center
                                    i.bi-arrow-up-right-square.icon-feature.text-gradient.d-block.mb-3
                                    h3.font-alt IOFSDB
                                    p.text-muted.mb-0 Easy Do-it yourself (DIY) approach on food security data. 
                            .col-md-6.mb-5
                                // Feature item
                                .text-center
                                    i.bi-border-bottom.icon-feature.text-gradient.d-block.mb-3
                                    h3.font-alt Report Base
                                    p.text-muted.mb-0 Ready to use reports based on food security data
                        .row
                            .col-md-6.mb-5.mb-md-0
                                // Feature item
                                .text-center
                                    i.bi-info-square.icon-feature.text-gradient.d-block.mb-3
                                    h3.font-alt Training materials
                                    p.text-muted.mb-0 Various visual and textual materials to understand food security deeper.
                            .col-md-6
                                // Feature item
                                .text-center
                                    i.bi-patch-check.icon-feature.text-gradient.d-block.mb-3
                                    h3.font-alt Open Source
                                    p.text-muted.mb-0 As always, this app is free to use for research and decision making!
                .col-lg-4.order-lg-0
                    // Features section device mockup
                    .features-device-mockup
                        img(src='assets/img/logo2.jpg' width='300')

    // Basic features section
    section.bg-light
        .container.px-5
            .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                .col-12.col-lg-5
                    h2.display-4.lh-1.mb-4 Rational Decision Making
                    p.lead.fw-normal.text-muted.mb-5.mb-lg-0 Uncharted data sources ubiquituous on the web waiting us to analyze for rational decision making on real food security crises.
                .col-sm-8.col-md-6
                    .px-5.px-sm-0
                        img.img-fluid.rounded-circle(src='https://source.unsplash.com/u8Jn2rzYIps/900x900', alt='...')

    // Call to action section
    section.cta
        .cta-content
            .container.px-5
                h2.text-white.display-1.lh-1.mb-4
                    | Stop scrolling.
                    br
                    | Start focusing.
                a.btn.btn-outline-light.py-3.px-4.rounded-pill(href='https://startbootstrap.com/theme/new-age', target='_blank') Learn how to use it

    // App badge section
    section#download.bg-gradient-primary-to-secondary
        .container.px-5
            h2.text-center.text-white.font-alt.mb-4 Get the app now!
            .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
                a.me-lg-3.mb-4.mb-lg-0(href='#!')
                    img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                a(href='#!')
                    img.app-badge(src='assets/img/app-store-badge.svg', alt='...')

