extends includes/layout.pug
block content
    
    .container
        .row 
            header.masthead.px-1
            h1 Report Base 
            p A collection of materials like videos and presentations to help you understand the details of the OIC data analysis

        #reports
            .row

                .col-md-6
                    .card.border-secondary
                        <iframe width="620" height="600" src="https://www.youtube.com/embed/L-inBHSY-tQ?si=Fm3Fip0II5AqXMmP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        .card-body
                        h5.card-title Network Analysis
                        p.card-text Import and exports of the producst by quantity visualized and explained.
                       


    




                          

            

